pev.cbp
bin
obj
Debug
.cproject
.project
*.swp
*.plist
*~
*.so*
*.dylib
*.dll
*.o
*.dSYM
*.log
.settings
build/**
tests/samples/*
!tests/samples/helloworld.exe
tests/*.exe
tests/*.bin
tests/*.log
tests/running_report
*/build/*
.DS_Store
._*
.vscode/*

/tools/completion/tmp.readpe.yaml

