Source: pev
Maintainer: Fernando Mercês <fernando@mentebinaria.com.br>
Homepage: http://coding40.mentebinaria.com.br
Section: utils
Priority: extra
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7.0.0)

Package: pev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: utility to the get Product Version of PE32 executables
 pev is a little text-based tool to get the Product Version field of PE32
 executables (EXE, DLL, OCX etc) from resources section of binary.
